$border-color : #FAFAFA;
$primary-color: #555555;
$white : #fff;
$black : #000;
$heading-font: "Pacifico", Helvetica, Arial, sans-serif;;
$body-font : 'Playfair Display', serif;
$user-name : #545454;
$social-bg: #e3e2e8;
$text-bg : #f4f4f2;
$listing-bg : #FAFAFA;
$text-color: #656565;
$social-icon: #4A4A4A;
$menu-color: #808080;
$footer-bg: #141829;
$insta-bg: #1a1a1a;
$btn-color : #1a1a1a;
$btn-bg:#ececec;
$footer-name-color: #acaa83;
$hover-icon: #181818;